html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #45badd;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: url('./robot.gif') no-repeat;
  background-size: contain;
  background-position: left center;
}

#btn {
  cursor: pointer;
  outline: none;
  padding: 10px 30px;
  font-family: "Leelawadee", "Consolas", "monospace";
  font-size: 1.6rem;
  color: whitesmoke;
  background-color: #ff3482;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.35);
  /* background-color: ; */
}

#btn:hover {
  filter: brightness(95%);
}

#btn:active {
  transform: scale(0.98);
}

#btn:disabled {
  cursor: default;
  filter: brightness(70%);
}

@media screen and (max-width: 1000px) {
  .wrapper {
    background-position: center center;
    background-size: cover;
  }
  #btn {
    position: relative;
    top: 35vh;
    box-shadow: 3px 3px 20px 8px rgba(0, 0, 0, 0.35);
  }
}